$green: #10bf6a;
$orange: #ff9a32;
$red: #fe5b3b;
$blue: #0091ff;
$gray: rgba(0, 0, 0, 0.1);
$white: #ffffff;

* {
  box-sizing: border-box;
  font-family: SBSansInterface-Regular;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: $green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  p {
    font-size: 16px;
    line-height: 29px;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    display: inline;
  }

  button {
    width: 150px;
    height: 55px;
    color: white;
    background: none;
    border: none;
  }
}

h1 {
  margin: 20px auto;
  color: $orange;
  text-align: center;
}

input, button, textarea {
  outline: none;
}

.textarea::placeholder, .input_add::placeholder {
  padding: 4px;
}

.table {
  width: 100%;
  td, th {
    height: 63px;
    padding: 5px;
    overflow: scroll;
  }

  th {
    background-color: rgba(16, 191, 106, 0.22);
    color: $green;
    font-family: SBSansInterface-Semibold;

    input {
      margin-bottom: -5px;
      margin-left: 5px;
    }
  }

  td {
    min-width: 90px;
  }

  .hide {
    display: none;
  }
}

.change_form{
  height: 30px;
  padding-left: 4px;
  border-radius: 8px;
  border: solid 1px $gray;
  font-size: 15px;
  background-color: white;

  input[type=''] {
    width: 185px;
  }

  textarea{
    width: 100%;
  }
}


.input_add {
  margin: 20px 0;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px $gray;
  font-size: 15px;
  background-color: white;
}

.form_date {
  width: 177px;
}

.todo_form {
  margin: auto;
  padding-right: 90px;
  min-width: 400px;
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;


  .btn_add {
    margin: 20px auto;
    border: none;
    background: $green;
    width: 152px;
    height: 42px;
    border-radius: 21px;
    color: white;
    //transition: border 3s linear;
  }

  .btn_add:active {
    width: 148px;
    height: 38px;
    border-radius: 19px;
    border: solid 2px $white;
  }

  .btn_add:disabled {
    opacity: 0.5;
  }
}

.container {
  width: 900px;
  margin: auto;
  padding-left: 90px;
}

.completed {
  text-decoration: line-through;
}

.title {
  font-weight: bold;
}

.del_col {
  width: 90px;
}

.todo_type {
  input[type='radio'] {
    margin-right: 20px;
  }

  input[type='datetime-local'] {
    padding-left: 6px;
    height: 30px;
    margin-right: 20px;
    border-radius: 8px;
    border: solid 1px $gray;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
  }
}

.hot_task {
  color: $red;
}

.time_has_come_task {
  color: $orange;
}

.more_time {
  color: $blue;
}

.radio_btn, .radio_btn_up {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid $gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_btn:checked {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid $green;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_btn_up:checked {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid $green;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transform: rotate(180deg);
}

.show_row {
  animation: fadeIn 1s;
  background: $gray;
}

.show_ic_done {
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}