* {
  box-sizing: border-box;
  font-family: SBSansInterface-Regular;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #10bf6a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header p {
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 15px;
  color: white;
  display: inline;
}
.header button {
  width: 150px;
  height: 55px;
  color: white;
  background: none;
  border: none;
}

h1 {
  margin: 20px auto;
  color: #ff9a32;
  text-align: center;
}

input, button, textarea {
  outline: none;
}

.textarea::placeholder, .input_add::placeholder {
  padding: 4px;
}

.table {
  width: 100%;
}
.table td, .table th {
  height: 63px;
  padding: 5px;
  overflow: scroll;
}
.table th {
  background-color: rgba(16, 191, 106, 0.22);
  color: #10bf6a;
  font-family: SBSansInterface-Semibold;
}
.table th input {
  margin-bottom: -5px;
  margin-left: 5px;
}
.table td {
  min-width: 90px;
}
.table .hide {
  display: none;
}

.change_form {
  height: 30px;
  padding-left: 4px;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  background-color: white;
}
.change_form input[type=""] {
  width: 185px;
}
.change_form textarea {
  width: 100%;
}

.input_add {
  margin: 20px 0;
  width: 100%;
  height: 30px;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  background-color: white;
}

.form_date {
  width: 177px;
}

.todo_form {
  margin: auto;
  padding-right: 90px;
  min-width: 400px;
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
}
.todo_form .btn_add {
  margin: 20px auto;
  border: none;
  background: #10bf6a;
  width: 152px;
  height: 42px;
  border-radius: 21px;
  color: white;
}
.todo_form .btn_add:active {
  width: 148px;
  height: 38px;
  border-radius: 19px;
  border: solid 2px #ffffff;
}
.todo_form .btn_add:disabled {
  opacity: 0.5;
}

.container {
  width: 900px;
  margin: auto;
  padding-left: 90px;
}

.completed {
  text-decoration: line-through;
}

.title {
  font-weight: bold;
}

.del_col {
  width: 90px;
}

.todo_type input[type=radio] {
  margin-right: 20px;
}
.todo_type input[type=datetime-local] {
  padding-left: 6px;
  height: 30px;
  margin-right: 20px;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
}

.hot_task {
  color: #fe5b3b;
}

.time_has_come_task {
  color: #ff9a32;
}

.more_time {
  color: #0091ff;
}

.radio_btn, .radio_btn_up {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_btn:checked {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid #10bf6a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio_btn_up:checked {
  outline: none;
  border: 5px solid transparent;
  border-top: 10px solid #10bf6a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transform: rotate(180deg);
}

.show_row {
  animation: fadeIn 1s;
  background: rgba(0, 0, 0, 0.1);
}

.show_ic_done {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=todo.module.css.map */
